
body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

hr { 
  max-width: 130px;
  border-width: 3px;
  border-color: #0275d8; 
}

.faded   {
  color: rgba(255, 255, 255, 1);
} 


header.startup {
  background-position: center;
  background-image: url('omen.jpg');
  background-size: cover;
  height: 100%;
}
header.startup h1 {
  font-size: 2rem; 
}

header.startup hr {
  margin-top: 300px;
  margin-bottom: 30px; 
}



.btn {
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 60px;
  font-family: 'Montserrat', sans-serif;
  padding: 1rem 3rem; 
  background-color: #red;
  border-color: #red;
  position: center;
}

.btn:hover  {
  background-color: maroon;
  border-color: white;
  border-width: 5px;
  cursor: pointer;x

}
  